html {background-color: white}
body {background: black;
	color: white;
	margin: auto;
	overflow: hidden;
	padding: 10px;
	width: 50%;
border: 5px solid cadetblue;
	border-radius: 10px}

h1 {font-size: 2.5em; font-family: codystar;font-weight:bolder; margin: 0 2% 0 2%; ;color:cornflowerblue;}

p {margin: 10px;font-family: germania-one}

input{margin: 5px;font-family: germania-one}

span{border-radius: 5px;border: 2px solid cadetblue;padding:5px}